body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: "Roboto", sans-serif;
}

/* ------- */
/* Sidebar */
/* ------- */

.sidebar {
    z-index: 1;
    background: #17194C;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100% - 0%);
    transition: all 0.5s ease;
    user-select: none;
    overflow-y: auto;
}

.sidebar .logo-details {
    padding-left: 35px;
    padding-bottom: 30px;
}

.sidebar .logo-details a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}

.sidebar .links{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 35px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.sidebar .links:hover {
    background: #fff;
    color: #17194C;
}

.sidebar .links i {
    padding-right: 10px;
}

/* ------- */
/* Content */
/* ------- */

.container {
    padding: 0;
}

.content {
    padding: 0;
    padding-left: 12px;
    margin-left: 250px;
    transition: 0.5s;
}

.dashboard-col {
    padding: 0;
}

.dashboard-col .dashboard-header {
    padding: 20px;
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 10;
    box-shadow: 0 5px 5px rgba(0,0,0,.04);
    border-bottom: 1px solid #dee2e6;
}

.dashboard-col .dashboard-content {
    padding: 20px;
    height: 100vh;
    z-index: 0;
    position: relative;
    background-color: #F1F6F9;
    border-right: 1px solid #dee2e6;
}

.dashboard-col .no-border-right {
    border-right: 0 !important;
}

.dashboard-col .new-event-btn {
    font-size: 14px;
    color: #fff;
    background-color: #206A5D;
    border-color: #206A5D;
}

/* ---------- */
/* Responsive */
/* ---------- */

.mobile-nav, .nav_bar {
    display: none;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    .content {
        margin: 70px 0 0 0;
        transition: 0s;
    }

    .content.active {
        margin-top: 0;
    }

    /* --------------- */
    /* Collapse Button */
    /* --------------- */

    #collapse-btn {
        position: fixed;
        top: 25px;
        right: 40px;
        z-index: 1;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .nav_bar #collapse-btn:hover{
        color: #23ADE5;
    }

    /* ------------- */
    /* Moblie Header */
    /* ------------- */

    .nav_bar {
        background: #17194C;
        position: fixed;
        top: 0;
        height: 70px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }
    
    .nav_bar .logo-details a {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    /* ------------- */
    /* Moblie Navbar */
    /* ------------- */

    .mobile-nav {
        background: #17194C;
        z-index: 1;
        margin-top: 70px;
        padding-bottom: 20px;
        user-select: none;
        transition: all 0.5s; 
    }

    .mobile-nav .mobile-nav-items {
        background: #17194C;

        transition: all 0.5s ease;
    }

    .mobile-nav .mobile-nav-items a {
        text-align: center;
        text-decoration: none;
        line-height: 60px;
        color: #fff;
        display: block;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

    .mobile-nav .mobile-nav-items a:hover {
        background: #fff;
        color: #17194C;
    }

    .mobile-nav.active {
        display: block !important; 
    }
}