body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important; 
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

/* ------- */
/* Sidebar */
/* ------- */

.sidebar {
    z-index: 1;
    background: #17194C;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transition: all 0.5s ease;
    user-select: none;
    overflow-y: auto;
}

.sidebar .logo-details {
    padding-left: 35px;
    padding-bottom: 30px;
}

.sidebar .logo-details a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-right: 10px;
}

.sidebar .links{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 35px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.sidebar .links:hover {
    background: #fff;
    color: #17194C;
}

.sidebar .links i {
    padding-right: 10px;
}

/* ------- */
/* Content */
/* ------- */

.content {
    padding: 0;
    margin-left: 250px;
    height: 100%;
    transition: 0.5s;
    box-sizing: border-box;
}

.dashboard-col {
    padding: 0;
}

.dashboard-col .dashboard-header {
    padding: 20px;
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.04);
    border-bottom: 1px solid #dee2e6;
}

.dashboard-col .dashboard-content {
    padding: 20px;
    height: 100vh;
    z-index: 0;
    position: relative;
    background-color: #F1F6F9;
    border-right: 1px solid #dee2e6;
}

.dashboard-col .no-border-right {
    border-right: 0 !important;
}

.new-event-btn {
    font-size: 14px;
    color: #fff;
    background-color: #206A5D;
    border-color: #206A5D;
}

.new-event-btn:hover {
    color: #fff;
    background-color: #2f9d8a;
    border-color: #2f9d8a;
}

/* -------- */
/* Calendar */
/* ---------*/

#calendar h2 {
    font-size: 26px
}

#calendar button {
    font-size: 14px;
    background-color: #4B4C74;
    border-color: #4B4C74;
}

#calendar button:hover {
    background-color: #54557B;
    border-color: #54557B;
}

#calendar .fc-view-harness {
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#calendar tbody .fc-day-today {
    background-color: #BEBDB4;
    color: #fff;
}

#calendar tbody .fc-day-sat,
#calendar tbody .fc-day-sun {
    background-color: #E9E9E6;
    color: #70706F;
}

/* ----- */
/* Popup */
/* ----- */

#mycreateEventBox {
    display: none;
}

#mycreateEventBox.active {
    display: block;
}

.popup-box {
    position: fixed; 
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    min-width: 300px;
    max-width: 400px;
    background-color: #fff;
    z-index: 10;
    box-shadow: #000 0 2px 18px;
}

.popup-box .popup-header {
    padding: 20px;
    min-height: 70px;
    background-color: #17194C;
    color: #fff;
    overflow: hidden;
}

.popup-box .popup-header h3 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 2;
}

.popup-box .popup-header .fa-times {
    position: absolute;
    right: 25px;
    top: 27px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.popup-box .popup-form {
    padding: 20px;
    padding-top: 0px;
}

.popup-box .popup-form label {
    font-size: 16px;
    padding-top: 10px;
}

.popup-box .popup-form .my-input-field {
    font-size: 14px;
    border: 1px solid;
    display: block;
    width: 100%;
}

.cancel-btn {
    font-size: 14px;
    color: #000;
    background-color: #f8f9fa;
    border-color: #e7eaee;
}

.cancel-btn:hover {
    background-color: #e7eaee;
}

.popup-box .wrapper {
    width:100%;
    text-align: center;
}

.popup-box .wrapper .btn {
    display: inline-block;
    margin: 0 5px 10px;
} 

/* ---------- */
/* Responsive */
/* ---------- */

.mobile-nav, .nav_bar {
    display: none;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    .content {
        margin: 70px 0 0 0;
        transition: 0s;
    }

    .content.active {
        margin-top: 300px;
    }

    /* --------------- */
    /* Collapse Button */
    /* --------------- */

    #collapse-btn {
        position: fixed;
        top: 25px;
        right: 40px;
        z-index: 1;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .nav_bar #collapse-btn:hover{
        color: #23ADE5;
    }

    /* ------------- */
    /* Moblie Header */
    /* ------------- */

    .nav_bar {
        z-index: 99;
        background: #17194C;
        position: fixed;
        top: 0;
        height: 70px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }
    
    .nav_bar .logo-details a {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    /* ------------- */
    /* Moblie Navbar */
    /* ------------- */

    .mobile-nav {
        position: fixed;
        top: 0;
        width: 100%;
        background: #17194C;
        z-index: 98;
        margin-top: 70px;
        padding-bottom: 20px;
        user-select: none;
        transition: all 0.5s; 
    }

    .mobile-nav .mobile-nav-items {
        background: #17194C;
        transition: all 0.5s ease;
    }

    .mobile-nav .mobile-nav-items a {
        text-align: center;
        line-height: 60px;
        color: #fff;
        display: block;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

    .mobile-nav .mobile-nav-items a:hover {
        background: #fff;
        color: #17194C;
    }

    .mobile-nav.active {
        display: block !important; 
    }

    /* ------- */
    /* Content */
    /* ------- */

}