{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <!-- My CSS Styling Sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheet%}

{% block content %}

<h1>
    create new thread
</h1>

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Submit">
</form>

{% endblock content %}

{% block footer_script %}
    <!-- JavaScript -->
    <script src="{% static 'js/forum.js' %}"></script>
{% endblock footer_script %}