{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <!-- My CSS Styling Sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheet%}

{% block content %}
<div class="thread-container">
    <div class="card create-thread">
        <h4 class="card-title">Create a thread</h4>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn new-event-btn" type="submit" value="Post">
        </form>
    </div>
</div>

{% endblock content %}

{% block footer_script %}
    <!-- JavaScript -->
    <script src="{% static 'js/forum.js' %}"></script>
{% endblock footer_script %}