{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <!-- My CSS Styling Sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheet%}

{% block content %}
<!-- Go to Top Button -->
<a><i id="scrollToTopBtn" class="fas fa-angle-up fa-3x"></i></a>

<div class="website-header">
    <h1>INIAD Forum</h1>
    <a class="btn new-event-btn" href="{% url 'forum:create_thread' %}"><i class="fas fa-plus"></i> Create New Thread</a>
</div>

<div class="thread-container">
    {% for thread in threads %}
    <div class="card thread-list">
        <div class="card-body">
            <a href="{% url 'forum:thread' thread.id %}">
                <h5 class="card-title">{{thread.title}}</h5>
                <p class="card-text">{{thread.description}}</p>
                <p class="card-text last-updated">Last updated: {{thread.updated}}</p>
            </a>
        </div>
    </div>
    {% empty %}
        <h3>no active thread</h3>
    {% endfor %}
</div>
{% endblock content %}

{% block footer_script %}
    <!-- JavaScript -->
    <script src="{% static 'js/forum.js' %}"></script>
{% endblock footer_script %}