{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<!-- My CSS Styling Sheet -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheet%}

{% block content %}
<div class="thread-container">
    <div class="card thread"> 
        <!-- Thread Post -->
        <div class="thread-body">
            <h2 class="card-title">{{thread.title}}</h2>
            <p class="last-updated">Posted by {{thread.creator}} on {{thread.created}}</p>
            <p class="card-text">{{thread.description}}</p>
        </div>
        <!-- Post a comment -->
        <div class="post-comment">
            <form method="POST" action="" id="msgform">
                {% csrf_token %}
                <label for="creator">Comment as </label><input type="text" id="creator" name="creator" value="anonymous" placeholder="Name">
                <textarea rows="4" cols="50" id="message" name="message" placeholder="What are your thought?"></textarea>
                <input class="btn new-event-btn" type="submit" value="Comment">
            </form>
        </div>
        <!-- Comments -->
        <div class="all-comments">
            <h5>Comments</h5>
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-head">
                    <i class="far fa-user-circle"></i>
                    <span class="comment-name"> {{comment.creator}}</span><span class="last-updated"> | {{comment.created}}</span>
                </div>
                <p class="comment-content">{{comment.message}}</p>
            </div>
            {% empty %}
            <p>
                No comment has been made.
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_script %}
<!-- JavaScript -->
<script src="{% static 'js/forum.js' %}"></script>
{% endblock footer_script %}